.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
      "Header Header Header"
      "Main Main Main"
      "Footer Footer Footer";
  height: 100vh;
  overflow: hidden;
}